.cookie-btn {
  background-color: white;
  border-radius: 100px;
  background-color:transparent;
  margin-bottom: 20px;
  width: 200px;
  height: 200px;
}

.cookie-btn:active {
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
}

