.muteButton {
  color: black;
  font-weight: bolder;
  border: 1px solid black;
  margin: 10px;
  height: auto;
  width: auto;
  padding: 8px;
  background-color: white;
  border-radius: 20px;
  border: solid 1px lightgray;
  margin: 10px;
  position: absolute;
  left: 0;
  top:0;
}

.muteButton:hover {
  background-color: black;
  color: white;
}
