.reset {
    color: black;
    font-weight: bolder;
    border: 1px solid black;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
  }
  
  .reset:hover {
    background-color: black;
    color: white;
  }