.upgradeButtonContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.upgradeButton {
    height: auto;
    width: auto;
    margin: 5px;
    padding: 8px;
    background-color: bisque;
    border-radius: 20px;
    border: solid 1px lightgray;
    margin-bottom: 10px;
  }
  
  .upgradeButton:hover {
    background-color: black;
    border: solid 1px bisque;
    color: white;
  }
